      <footer>
        <p class="repo-owner">The Open Badges Specification is maintained by <a href="https://www.imsglobal.org/">IMS Global Learning Consortium</a>. Copyright © 2017 IMS Global Learning Consortium, published under the IMS Global <a href="https://www.imsglobal.org/sites/default/files/IMS%20Individual%20Contributor%20License%20Agreement.pdf">contributor license agreement</a> and <a href="https://www.imsglobal.org/speclicense.html">specification license</a>. This specification is free for anyone to use or implement.
          <div>
            <a href="https://www.imsglobal.org/"><img src="{{ site.baseurl }}/images/imsglobal-logo.png" style="width: 200px; height: auto;"></a>
          </div>
        </p>
        <p><small><a href="https://github.com/openbadges/openbadges-specification/commits/master">Latest Updates</a></small></p>
      </footer>
    </div>
    <script src="{{ site.baseurl }}/javascripts/scale.fix.js"></script>
    
  </body>
</html>
